@font-face {font-family: 'Giants-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2'); font-weight: 700; font-style: normal; }
body{ font-family: 'Giants-Bold', sans-serif; }

*{
    padding: 0;
    margin: 0;
}

  .container{
    margin-left: 40%;
    margin-top: 7%;
  }
  
  .login-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  form{
    width: 360px;
  }
  
  .login-content img{
      height: 100px;
  }
  
  .login-content h2{
    margin: 15px 0;
    color: #38d39f;
    font-size: 2.9rem;
  }
  
  .login-content .input-div{
    position: relative;
      display: grid;
      grid-template-columns: 7% 93%;
      margin: 25px 0;
      padding: 5px 0;
      border-bottom: 2px solid #d9d9d9;
  }
  
  .login-content .input-div.one{
    margin-top: 0;
  }
  
  .i{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .i i{
    transition: .3s;
  }
  
  .input-div > div{
    position: relative;
    height: 45px;
  }
  
  .input-div > div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
  }
  
  .input-div:before, .input-div:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: .4s;
  }
  
  .input-div:before{
    right: 50%;
  }
  
  .input-div:after{
    left: 50%;
  }
  
  .input-div.focus:before, .input-div.focus:after{
    width: 50%;
  }
  
  .input-div.focus > div > h5{
    top: -5px;
    font-size: 15px;
  }
  
  .input-div.focus > .i > i{
    color: #38d39f;
  }
  
  .input-div > div > input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
  }
  
  .input-div.pass{
    margin-bottom: 4px;
  }
  
  a{
    display: block;
    text;
  }

  #loginBtn{
    margin-top: 30px;
  }

  #message {
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity 0.5s ease; /* 투명도 변경 시 부드러운 페이드 아웃 효과 적용 */
  }
