header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(0, 56, 68, 0.1);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  padding: 0 24px;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  margin-right: 32px;
}

nav {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
  height: 60px;
}

header li {
  padding: 20px 16px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.menu-container li,
.info-container li:nth-child(1) {
  color: #abb1b1;
}

.info-container li {
  color: #17a1ff;
}

header li:hover {
  color: rgb(56, 64, 64);
  background-color: rgb(248, 251, 251);
  border-bottom: 2px solid #17a1ff;
}

main {
  margin-bottom: 60px;
}

section {
  width: 930px;
  margin: 0 auto;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 60px;
}

.banner-container div {
  position: relative;
  height: 400px;
  padding: 32px;
  line-height: 1.4;
  background-size: cover;
  font-size: 32px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.signup-banner {
  width: 600px;
  background-image: url(https://miniintern.com/static/images/main/main_img_1.webp);
}

.signup-banner span {
  font-size: 24px;
}

.info-banner {
  width: 300px;
  background-image: url(https://miniintern.com/static/images/main/main_img_r_1.webp);
}

.banner-container div p {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
}

.section-title {
  font-size: 24px;
  font-weight: 500;
  color: #1a1b1c;
}

.section-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: #1a1b1c;
}

.section-description span {
  font-size: 14px;
  color: #17a1ff;
  cursor: pointer;
}

.intern-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 4px;
}

.intern-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.intern-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px 0px rgba(26, 27, 28, 0.12);
}

.intern-card img {
  width: 100%;
  border-radius: 5px;
}

.card-section {
  padding: 10px;
}

.card-category {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.4;
}

.card-category label {
  padding: 5px 10px 2px;
  background-color: black;
  border-radius: 30px;
  color: white;
}

.card-category .grey-label {
  background-color: grey;
}

.card-category span {
  color: grey;
  margin-top: 2px;
}

.info-description {
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-container {
  height: 220px;
  margin-top: 50px;
  background-color: rgb(240, 243, 243);
}

.service-section {
  display: flex;
  margin: 60px auto;
  padding-top: 20px;
  max-width: 930px;
}

.service-description {
  position: relative;
  padding: 64px 0 0 32px;
}

.service-badge {
  position: absolute;
  top: 20px;
  left: 0px;
  padding: 8px 20px 8px 30px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  background-color: #17a1ff;
  border-radius: 0 16px 16px 0;
}

.service-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.service-info p:first-child {
  color: #939999;
}

.service-info p:last-child {
  font-size: 20px;
  font-weight: 700;
}

.employment-container {
  margin: 60px 0 24px;
}

.employment-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 60px;
}

.employment-card {
  display: flex;
  gap: 10px;
  padding: 12px;
  box-shadow: 0px 4px 8px 0px rgba(26, 27, 28, 0.12);
}

.employment-card img {
  width: 120px;
  height: 120px;
  border-radius: 4px;
}

.employment-info span {
  font-size: 12px;
  color: grey;
}

.employment-text {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
}

.employment-info label {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: rgb(241, 249, 255);
  color: #17a1ff;
  font-size: 12px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding: 0 60px;
  border-radius: 5px;
  background-size: contain;
  background-image: url("https://miniintern.com/static/images/main/headhunting_banner_pc.png");
}

.banner p {
  font-size: 20px;
  color: white;
}

.banner strong {
  font-weight: 700;
}

.banner button {
  width: 140px;
  padding: 12px 0;
  font-weight: 700;
  font-size: 14px;
  color: white;
  background: #ffffff40;
  border-radius: 24px;
}

.mClass-container {
  margin-top: 60px;
}

.mClass-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.mClass-card {
  position: relative;
  box-shadow: 0px 4px 8px 0px rgba(26, 27, 28, 0.12);
}

.mClass-card img {
  width: 100%;
  border-radius: 5px;
}

.mClass-price {
  position: relative;
  margin-top: -5px;
  padding: 5px 15px;
  background-color: #f0f3f3;
  color: #384040;
  font-size: 12px;
  font-weight: 700;
  z-index: 2;
}

.mClass-info {
  padding: 10px;
}

.mClass-info span {
  font-size: 12px;
  color: grey;
}

.mClass-title {
  margin: 4px 0;
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mClass-people {
  font-size: 12px;
  font-weight: 500;
  color: #1bc481;
}

.mClass-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mClass-text span:first-child {
  color: #1bc481;
}

.folio-container {
  margin-top: 60px;
}

.folio-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.folio-card {
  position: relative;
  box-shadow: 0px 4px 8px 0px rgba(26, 27, 28, 0.12);
}

.folio-card img {
  width: 100%;
  border-radius: 5px;
}

.folio-info {
  padding: 10px;
}

.folio-info label {
  padding: 3px 6px;
  margin-right: 4px;
  color: rgb(147, 153, 153);
  background-color: rgb(240, 243, 243);
  font-size: 12px;
  border-radius: 5px;
}

.folio-info div {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: rgb(147, 153, 153);
}

.user-image {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 100%;
}

.folio-price {
  display: flex;
  justify-content: flex-end;
}

footer {
  display: flex;
  padding: 28px 0 36px;
  border-top: 1px solid rgba(0, 56, 68, 0.1);
}

.footer-inner {
  width: 930px;
  margin: 0 auto;
}

.footer-logo {
  font-size: 28px;
  font-weight: 900;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.info-section {
  display: flex;
  gap: 40px;
}

.info-section li {
  font-size: 14px;
  color: #1a1b1c;
  cursor: pointer;
  white-space: nowrap;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
}

.info-title {
  width: 80px;
  font-size: 14px;
  font-weight: 700;
  color: #1a1b1c;
}

.info-desc {
  font-size: 12px;
  color: #384040;
}

.info-desc span {
  cursor: pointer;
}

.quick-link {
  margin-left: 4px;
  font-weight: 700;
  color: #384040;
}

.info-desc span:hover {
  color: #17a1ff;
}

.middle {
  margin: 30px 0;
}

.company-info {
  padding-top: 20px;
  margin-top: 20px;
  font-size: 12px;
  color: #abb1b1;
  border-top: 1px solid #abb1b1;
}
