.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 16px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-container p {
  font-size: 44px;
  font-weight: 600;
  color: #3a3a3a;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input[type="text"],
input[type="password"] {
  width: 400px;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: 1px solid #8e8e8e;
}

form button {
  height: 40px;
  font-weight: 600;
  background-color: #ececec;
  border-radius: 4px;
  transition: background-color 0.3s;
}

form button:hover,
form button:active {
  background-color: #dbdbdb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px;
  color: white;
  background-color: #3a3a3a;
  border-radius: 4px;
  z-index: 1;
  animation: fadeIn 0.5s ease-in-out, fadeOut 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
